.edit-form__button {
  width: 100%;
  border: none;
  padding: 18px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  display: block;
  transition: opacity 0.4s;
}

.edit-form__button:hover:enabled{
  opacity: 0.8;
}

.edit-form__button:disabled {
  background-color: rgb(70, 70, 70);
  color: rgb(199, 199, 199);
  cursor: default;
}


@media screen and (max-width: 600px) {
  .edit-form__button {
    padding: 14px 0;
    font-size: 14px;
    line-height: 17px;
  }
}
